*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body
{
    font-size: 16px;
    font-family: "Poppins", "Arial";
}

.contenedor-cart
{
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 100;
    position: fixed;
    padding: 30px;
    right: -300px;
}

.cart-activo
{
    right: 0px;
    transition: all .3s ease;
    box-shadow: 0px 10px 50px #6d6d6d;
}

.cart-oculto
{
    transition: all .3s ease;
    right: -300px;
}

.contenedor-cart .contenedor-btn-cerrar { position: relative; }

.contenedor-cart p
{
    display: inline-block;
    margin-top: 50px;
}
.contenedor-cart .contenedor-btn-cerrar .btn-cerrar
{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    font-size: 2rem;
    color: #889097;
}

/* ----------HEADER---------- */
header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 500;
    padding: 5px 0 15px 0;
    position: fixed;
    z-index: 10;
    background-color: #fff;
    width: 100%;
}

header .logo-alivia-header { margin-left: 50px; }

header nav a
{
    font-size: 15px;
    text-decoration: none;
    color: #57A048;
    margin: 0 20px;
}

header nav a:hover 
{
    color: #F4607A;
    transition: all .3s ease;
}

header .sub-nav ul
{
    display: flex;
    margin-top: 10px;
    margin-right: 50px;
}

header .sub-nav ul li
{
    font-weight: 500;
    color: #57A048;
    list-style: none;
    margin: 0 15px;
    font-size: 1.7em;
}

header .sub-nav .btn-cart { cursor: pointer; }

/* ---------- MAIN ---------- */
main { padding-top: 87px; }

main .cabecera-main
{
    background-image: url("../img/imgs_contacto/HBG-GREEN-BLUE.jpg");
    background-size: contain;
    object-fit: contain;
}

main .cabecera-main .contenedor-contacto
{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
}

main .cabecera-main .contenedor-contacto h1
{
    font-family: "Montserrat", "Arial";
    font-size: 2.1875rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
    line-height: 2.1875rem;
}

main .cabecera-main .contenedor-contacto span a,
main .cabecera-main .contenedor-contacto .breadcrumb-seleccionado
{
    font-family: "Poppins", "Arial";
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.5625rem;
    display: inline-block;
    padding-bottom: 15px;
    text-decoration: none;
}

main .cabecera-main .contenedor-contacto span a { color: #fff; }
main .cabecera-main .contenedor-contacto .breadcrumb-seleccionado
{
    color: #E1F887;
    border-bottom: 3px solid #E1F887;
}

main .cabecera-main .contenedor-contacto span a::after
{
    content: "→";
    padding: 0 10px;
    font-family: "Poppins", "Arial";
    font-size: 1.0625rem;
    font-weight: 700;
    line-height: 1.5625rem;
    color: #fff;
}

main .contactos
{
    background-color: #F9F9F9;
    padding-top: 100px;
    padding-bottom: 100px;
}

main .contactos .contenedor-contactos
{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}

main .contactos .contenedor-contactos .formulario-contacto
{
    display: flex;
    flex-direction: column;
    width: 50%;
}

main .contactos .contenedor-contactos .formulario-contacto h3
{
    font-family: "Poppins", "Arial";
    font-size: 1.5625rem;
    font-weight: 700;
    color: #57A048;
    line-height: 53px;
    letter-spacing: 1.3px;
    margin-bottom: 25px;
}

main .contactos .contenedor-contactos .formulario-contacto form label
{
    font-family: "Poppins", "Arial";
    font-size: 1.0625rem;
    font-weight: 500;
    color: #1A5E63;
    line-height: 25px;
}

main .contactos .contenedor-contactos .formulario-contacto form label sup { color: red; }

main .contactos .contenedor-contactos .formulario-contacto form .contenedor-nombre,
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-correo,
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-mensaje
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

main .contactos .contenedor-contactos .formulario-contacto form .contenedor-mensaje textarea
{
    resize: none;
    height: 300px;
}

main .contactos .contenedor-contactos .formulario-contacto form .contenedor-nombre input[type="text"],
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-correo input[type="email"],
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-mensaje textarea
{
    background-color: #fff;
    border: 1px solid #DFE5E8;
    padding: 12px;
    border-radius: 3px;
    min-height: 50px;
}

main .contactos .contenedor-contactos .formulario-contacto form .contenedor-nombre input[type="text"]:focus,
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-correo input[type="email"]:focus,
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-mensaje textarea:focus
{ outline: 1.5px solid #DFE5E8; }

main .contactos .contenedor-contactos .formulario-contacto form .contenedor-nombre input[type="text"]::placeholder,
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-correo input[type="email"]::placeholder,
main .contactos .contenedor-contactos .formulario-contacto form .contenedor-mensaje textarea::placeholder
{
    font-family: "Poppins", "Arial";
    font-weight: 500;
    color: rgba(87, 160, 72, .7);
    font-size: 1.125rem;
}

main .contactos .contenedor-contactos .formulario-contacto input[type="submit"]
{
    font-family: "Poppins", "Arial";
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 18px;
    background-color: #57A048;
    padding: 15px;
    width: 220px;
    border: none;
    border-radius: 100px;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}


main .contactos .contenedor-contactos .info-contacto
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    margin-top: 50px;
}

main .contactos .contenedor-contactos .info-contacto .alineador-tel,
main .contactos .contenedor-contactos .info-contacto .alineador-email
{
    display: flex;
    align-items: center;
}

main .contactos .contenedor-contactos .info-contacto .info-contacto-telefono h5,
main .contactos .contenedor-contactos .info-contacto .info-contacto-email h5
{
    font-family: "Poppins", Arial;
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 25px;
    color: #57A048;
}

main .contactos .contenedor-contactos .info-contacto .info-contacto-telefono span a,
main .contactos .contenedor-contactos .info-contacto .info-contacto-email span a
{
    font-family: "Poppins", Arial;
    font-weight: 600;
    font-size: 1.25rem;
    text-decoration: none;
    line-height: 25px;
    color: #1A5E63;
}

main .contactos .contenedor-contactos .info-contacto .alineador-tel::before
{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.25rem;
    content: "\f879";
    color: #57A048;
    margin-right: 40px;
}

main .contactos .contenedor-contactos .info-contacto .alineador-email::before
{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.25rem;
    content: "\f0e0";
    color: #57A048;
    margin-right: 40px;
}

main .contactos .contenedor-contactos .info-contacto img
{
    vertical-align: top;
    width: 100%;
    transform: scale(.6);

}

/* ---------- FOOTER ---------- */
footer
{
    border-top: 4px solid #57a048;
    background-color: #F9F9F9;
}

footer .contenedor-footer
{
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    padding: 50px 0 20px 0;
    justify-content: space-between;
}

footer .contenedor-footer .info-descripcion { width: 30%; }

footer .contenedor-footer .info-descripcion img
{
    vertical-align: top;
    width: 138px;
    margin-bottom: 20px;
}

footer .contenedor-footer .info-descripcion p
{
    font-family: "Poppins", "Arial";
    font-size: 0.875rem;
    color: #1A5E63;
    line-height: 21px;
    font-weight: 500;
}

footer .contenedor-footer .info-descripcion p > span
{
    font-weight: 600;
    margin: 30px 0 20px 0;
    display: inline-block;
    width: 60%;
}

footer .contenedor-footer .info-descripcion input[type="email"]
{
    padding: 10px 40px 10px 15px;
    border-radius: 5px;
    border: 1px solid #818A91;
    background-color: #fff;
    outline: none;
    margin-bottom: 10px;
}
footer .contenedor-footer .info-descripcion input[type="email"]::placeholder
{
    font-family: "Poppins", Arial;
    font-size: .95rem;
    color: #87898A;
}

footer .contenedor-footer .info-descripcion a
{
    display: inline-block;
    text-decoration: none;
    font-family: "Poppins", "Arial";
    font-weight: 400;
    font-size: 0.9375;
    line-height: 15px;
    background-color: #57A049;
    padding: 15px 40px;
    color: #fff;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: all .3s ease;
}
footer .contenedor-footer .info-descripcion a:hover { background-color: #F46464; }

footer .contenedor-footer .contacto
{
    display: flex;
    flex-direction: column;
    width: 30%;
}

footer .contenedor-footer .contacto h5
{
    font-family: "Poppins", "Arial";
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 37.5px;
    color: #1A5E63;
    padding-bottom: 5px;
}

footer .contenedor-footer .contacto .linea
{
    width: 120px;
    height: 3px;
    background-color: #57A048;
    margin-bottom: 20px;
}

footer .contenedor-footer .contacto span { margin-bottom: 20px; }

footer .contenedor-footer .contacto span  a
{
    font-family: "Poppins", "Arial";
    font-size: 0.875rem;
    font-weight: 500;
    color: #1D6065;
    line-height: 27px;
    text-decoration: none;
    transition: all .3s ease;
}

footer .contenedor-footer .contacto .direccion { width: 75%; }

footer .contenedor-footer .contacto span a:hover { color: #E55056; }

footer .contenedor-footer .contacto .siguenos h6
{
    font-family: "Poppins", "Arial";
    font-size: 1.0625rem;
    font-weight: 600;
    color: #1D6065;
    line-height: 25.5px;
    margin-bottom: 5px;
}

footer .contenedor-footer .contacto .siguenos span i
{
    padding: 10px;
    background-color: #fff;
    border: 2px solid #57A049;
    color: #57A049;
    border-radius: 3px;
    cursor: pointer;
    transition: all .3s ease;
}

footer .contenedor-footer .contacto .siguenos span i:hover
{
    color: #fff;
    background-color: #57A049;
}

footer .contenedor-footer .informacion h5
{
    font-family: "Poppins", "Arial";
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 37.5px;
    color: #1A5E63;
    padding-bottom: 5px;
}

footer .contenedor-footer .informacion .linea
{
    width: 155px;
    height: 3px;
    background-color: #57A048;
    margin-bottom: 20px;
}

footer .contenedor-footer .informacion ul li
{
    list-style: none;
    margin-bottom: 20px;
}

footer .contenedor-footer .informacion ul li a
{
    text-decoration: none;
    color: #1D6065;
    font-family: "Poppins", "Arial";
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 27px;
    transition: all .3s ease;
}
footer .contenedor-footer .informacion ul li a:hover { color: #E55056; }

footer .contenedor-footer .informacion img
{
    vertical-align: top;
    width: 300px;
}

footer .pie-pagina
{
    background-color: #57A048;
    text-align: center;
    color: #fff;
    padding: 10px;
    font-family: "Poppins", "Arial";
    font-size: 0.875rem;
    line-height: 21px;
    font-weight: 400;
}